@font-face {
  font-family: 'Rubik Mono One';
  src: url('./font/Rubik\ Mono\ One/RubikMonoOne-Regular.ttf');
}
@font-face {
  font-family: 'Jura-Light';
  src: url('./font/Jura/Jura-Light.ttf');
}
@font-face {
  font-family: 'Jura-Regular';
  src: url('./font/Jura/Jura-Regular.ttf');
}
@font-face {
  font-family: 'Jura-Medium';
  src: url('./font/Jura/Jura-Medium.ttf');
}

.w-100 {
  width: 100vw;
}
.w-5-p {
  width: 5%;
}
.w-10-p {
  width: 10%;
}
.w-20-p {
  width: 20%;
}
.w-40-p {
  width: 40%;
}
.w-80-p {
  width: 80%;
}
.w-90-p {
  width: 90%;
}
.w-100-p {
  width: 100%;
}

.h-100 {
  height: 100vh;
}
.h-5-p {
  height: 5%;
}
.h-7-p {
  height: 7%;
}
.h-10-p {
  height: 10%;
}
.h-90-p {
  height: 90%;
}
.h-93-p {
  height: 93%;
}
.h-95-p {
  height: 95%;
}
.h-100-p {
  height: 100%;
}
.d-f {
  display: flex;
}
.d-b {
  display: block;
}
.d-n {
  display: none;
}
.d-i-b {
  display: inline-block;
}
.h-95-p {
  height: 95%;
}
.h-5-p {
  height: 5%;
}

.b-1-s-g {
  border: 2px solid rgb(182, 182, 182);
}

.t-a-c {
  text-align: center;
}

.f-f-r-m-o-r {
  font-family: 'Rubik Mono One';
}
.f-f-j-l {
  font-family: 'Jura-Light';
}
.f-f-j-R {
  font-family: 'Jura-Regular';
}
.f-f-j-M {
  font-family: 'Jura-Medium';
}
.f-s-100 {
  font-size: 100px;
}
.f-s-56 {
  font-size: 56px;
}
.f-s-24 {
  font-size: 24px;
}
.f-s-16 {
  font-size: 16px;
}
.f-s-14 {
  font-size: 14px;
}


.l-s-1 {
  letter-spacing: 1px;
}

.l-s-10 {
  letter-spacing: 1px;
}

.f-w-n {
  font-weight: normal;
}

.f-w-500 {
  font-weight: 600;
}

.m-t-5-p {
  margin-top: 3%;
}

.m-t-20-p {
  margin-top: 25%;
}

.c-d2 {
  color: #D2AB80;
}
.c-e5 {
  color: #E5D2B8;
}
.c-72 {
  color: #725C3A;
}
.c-w {
  color: white;
}

.b-n {
  border: none;
}

.b-r {
  border-radius: 5px;
}

.b-1-s-72 {
  border: 1px solid #725C3A;
}

.b-c-w {
  background-color: white;
}
.b-c-80 {
  background-color: #809570;
}

.b-c-E5 {
  background-color: #E5E0D8;
}

.b-c-B3 {
  background-color: #B3B792;
}

.b-c-E5 {
  background-color: #E5D2B8;
}

.memorization_checkbox {
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.memorization_checkbox:checked {
  background-color: #809570;
  border-color: #809570;
}

.memorization_checkbox:after {
  content: '✓';
  position: absolute;
  color: white;
  font-size: 14px;
  left: 3px;
  top: -1px;
}

.w-200 {
  width: 200px;
}
.w-24 {
  width: 24px;
}
.w-30 {
  width: 30px;
}
.w-450 {
  width: 450px;
}

.w-m-c {
  width: max-content;
}

.h-24 {
  height: 24px;
}
.h-30 {
  height: 30px;
}

.h-40 {
  height: 40px;
}

.h-60 {
  height: 60px;
}

.l-h-1 {
  line-height: 1;
}

.m-t-10 {
  margin-top: 10px;
}
.m-t-5 {
  margin-top: -5px;
}

.m-t--3 {
  margin-top: -3px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.c-p {
  cursor: pointer;
}

input {
  outline: none;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.o-h {
  overflow: hidden;
}

.o-w-b-w {
  overflow-wrap: break-word
}

.w-b-b-a {
  word-break: break-all;
}

.f-d-c {
  flex-direction: column;
}

.a-s-f-s {
  align-self: flex-start;
}

.a-i-c {
  align-items: center;
}

.f-n {
  flex: none;
}
.f-0-0-a {
  flex: 0 0 auto;
}

.f-g-1 {
  flex-grow: 1;
}

.f-b-a {
  flex-basis: auto;
}

.j-c-s-b {
  justify-content: space-between;
}
.j-c-c {
  justify-content: center;
}

.m-l-a {
  margin-left: auto;
}
.m-l-10 {
  margin-left: 10px;
}

.m-r-a {
  margin-right: auto;
}
.m-r-10 {
  margin-right: 10px;
}

.p-l-10 {
  padding-left: 10px;
}
.p-r-10 {
  padding-right: 10px;
}
.p-b-10 {
  padding-bottom: 10px;
}

.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-t-20-p {
  padding-top: 20%;
}
.p-t-40-p {
  padding-top: 70%;
}

.p-a {
  position: absolute;
}
.t-15 {
  top: 15px;
}
.r-15 {
  right: 15px;
}